{% extends 'core/base.html' %}

{% block title %}Detail{% endblock title %}

{% block content %}

<h1>{{ product.name }} - Detail Page</h1>

<div class="card mb-3" style="max-width: 90%;">
  <div class="row g-0">
    <div class="col-md-5">
      <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5><br>
        <p class="card-text">${{ product.price }}</p><br>
        <p class="card-text"><strong>Description:</strong><br>{{ product.description }}</p>

        <br>
        <hr>

        {% if request.user == product.created_by %}
          <a href="{% url 'core:edit' product.pk %}" class="btn btn-success">Edit</a>
          <a href="{% url 'core:delete' product.pk %}" class="btn btn-danger">Delete</a>

        {% else %}

         <div class="row justify-content-start">
            <div class="col-md-8">Select Quantity:</div>
            <div class="col-md-8">
                <select class="form-select" id="select">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>

            <a href="{% url 'conversation:new' product.id %}" class="btn btn-secondary">Contact Seller</a>
            <button class="btn btn-outline-success" id="add-button" value="{{ product.id }}">Add to Cart <i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>

        {% endif %}

      </div>
    </div>
  </div>
</div>


<br>
 <h1>Related Products</h1>

    <div class="row">
      {% if related_products %}
        {% for product in related_products %}
        <div class="col">
            <div class="card" style="width: 18rem;">
              <img src="{{ product.image.url }}" class="card-img-top" alt="..." height="250;" border="2px solid green;">
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">${{ product.price }}</p>
                <a href="{% url 'core:detail' product.pk %}" class="btn btn-primary">View</a>

              </div>
            </div>
        </div>

        {% endfor %}
      {% else %}
        <p>There is no related products for this category</p>
      {% endif %}
    </div>


    <script>
      $(document).on("click", "#add-button", function(e){
        e.preventDefault();

        $.ajax({
          type: "POST",
          url: "{% url 'cart:cart-add' %}",
          data: {
            product_id: $("#add-button").val(),
            product_quantity: $("#select option:selected" ).text(),
            csrfmiddlewaretoken: "{{ csrf_token }}",
            action: "post"
            },

              success: function(json){
                 document.getElementById("cart-qty").textContent = json.qty
              },

              error: function(xhr, errmsg, err){

              },

        });

      });

    </script>

{% endblock content %}







