{% extends "core/base.html" %}


{% block title %}Home{% endblock title %}

{% block content %}

    <h1>Home Page</h1>

    <div class="row">
        {% for product in products %}
        <div class="col">
            <div class="card" style="width: 18rem;">
              <img src="{{ product.image.url }}" class="card-img-top" alt="..." height="250;" border="2px solid green;">
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">${{ product.price }}</p>
                <a href="{% url 'core:detail' product.pk %}" class="btn btn-primary">View</a>

              </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}